@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right d-inline">
            <li>
                @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Admin", null, null)
            </li>
            <li>
                @Html.ActionLink("Выйти", "Logoff", "Account", null, null)
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
